*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #3a393938;
}
#contaner{
  width: 95vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px 0;
 display: flex;
 flex-direction: column;
}

#header{
  width: 100vw;
  display: flex;
  flex-direction: column; 
  background-image: url('https://images.unsplash.com/photo-1641337221253-fdc7237f6b61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDc3fEJuLURqcmNCcndvfHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
}
.vizit{
  width: 100vw;
  margin-top: 25px;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
.logo{
  margin-right: 275px;
  margin-top: 25px;
  border-radius: 50%;
  background: rgba(248, 248, 248, 0.952);
}
.deviz{
  margin-top: 25px;
  text-transform: uppercase;
  color: antiquewhite;
  text-shadow:0 0 10px blanchedalmond;
}
.anons{
  width: 100vw;
  margin-top: 100px;
  color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.anons p{
  margin-top: 200px;
  text-transform: uppercase;
  font-style: italic;
  text-shadow:0 0 10px rgb(26, 25, 25);
  
}
.opn{
  width: 100vw;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
.opn a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(231, 240, 231);
  text-shadow:0 0 10px rgb(26, 25, 25); 
}

#section{
 position: relative;
  width: 100vw;
  height:100vh;
}
.sitebar {
  height: 100vh;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sitebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sitebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-menu {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-menu > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

#section .control button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

#section .control.down-btn {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#section .control.up-btn {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


#footer{
  width: 100vw;
}