*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #3a393938;
}
#contaner{
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
 display: flex;
 flex-direction: column;
}

#header{
  width: 100vw;
  display: flex;
  margin-top: 5px;
  flex-direction: column; 
  background-image: url('https://images.unsplash.com/photo-1641337221253-fdc7237f6b61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDc3fEJuLURqcmNCcndvfHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
}
.vizit{
  width: 100vw;
  margin-top: 25px;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
.logo{
  margin-right: 275px;
  margin-top: 25px;
  border-radius: 50%;
  background: rgba(248, 248, 248, 0.952);
}
.deviz{
  margin-top: 25px;
  text-transform: uppercase;
  color: antiquewhite;
  text-shadow:0 0 10px blanchedalmond;
}
.anons{
  width: 100vw;
  margin-top: 100px;
  color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.anons p{
  margin-top: 185px;
  text-transform: uppercase;
  font-style: italic;
  text-shadow:0 0 10px rgb(26, 25, 25);
  
}
.opn{
  width: 100vw;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
.opn a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(231, 240, 231);
  text-shadow:0 0 10px rgb(26, 25, 25); 
}

#section{
  width: 100vw;
  height:100vh;
}
.sidebar {
  width:100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.slider{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.text{
  width:30%;
  height:100vh;
  text-align: center;
  padding:235px 55px;
  text-shadow: 0 0 10px #fff;
}
.img{
  width:70%;
  height:100vh;
}



#footer{
  width: 100vw;
}